{% extends "index.html" %}
{%block content%}

	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shop Category</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->


	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    {%for object in object_list%}
                    <li class="filter-list"><input  class="pixel-radio" type="radio" id="men" name="brand"><label for="men">{{object.name}}<span></span></label></li>
                  {%endfor%}
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          <div class="sidebar-filter">
           
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              {%for object in object_list%}
              <div class="col-md-6 col-lg-4">

                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="{{object.image.url}}" alt="" width= "500px"  height= "170px">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-search"></i></button></li>
                    </ul>
                  </div>
                  
                  <div class="card-body">
                    <h4 class="card-product__title"><a href="{%url 'products' object.id %}">{{object.name}}</a></h4>
                    <p class="card-product__price">{{object.description}}</p>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

	




</html>

{%endblock%}